.container {
  width: 90%;
  padding: 15px;
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  background-color: rgb(218, 209, 198);
  border-radius: 5px;
}

.person-info {
  width: 25%;
  padding: 15px;
  text-align: center;
  border: 2px solid rgb(150, 185, 216);
  border-radius: 10px;
}
